<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src='/angular/angular.min.js'> </script>
    <script src='/angular/mendwellApp.js'> </script>
    <script src="../../javascripts/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>



<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="/">MendWell</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/about/">About</a></li>
          </ul>
        </div>
      </div>
    </div>

</html>

    <div class="row page-header">
      <div class="col-lg-12"></div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <div class="col-xs-12 list-group-item">
                  <div class="w3-container">
                  

                  </div>
                    <table id="bigTable" class="table table-striped table-hover ">
                      <thead>
                        <tr>

                          <th id="condName" class="text-warning" > 
                              <%= condition.name %> 
                           </th>
                          <th class="text-warning"> Dosage </th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <% condition.medList.forEach(function(eachMed) { %>
                          <tr>
                            <td>        
                              <input name="medName" type="text" class="form-control" value=<%= eachMed.medName %>></td>
                            <td> <input name="medDosage" type="text" class="form-control" value=<%= eachMed.medDosage %>></td>
                            <td>                         
                              <!-- add event listener -->
                              <button id="redButton" class="btn btn-danger"><i class="fa fa-close"></i></button>
                            </td>
                          </tr>
                        <% }); %>

                      </tbody>
                    </table>        

                    <div>                      
                      <span>
                         <h5  style="font-weight:bold" class="text-info"> Severity:</h5>
                         <input  style="font-weight:bold" id="severity" type="text" class="form-control" value=<%=  condition.severity %> ></input>
                      </span>
                     
                      <h5  class="text-info"> Created On: <%= condition.createdOn %></h5>
                      <h5  class="text-info"> Last Updated: <%= condition.updatedLast %></h5>          
                     
                      <span>
                       <button id="updateButton" class="btn btn-info">Update</button>      
                      
                       <button id="delButton" class="btn btn-danger">Remove</button>  
                      </span>
                   </div>

              </div>
          </div>
         
        </div>
        
      </div>
    </div>
    <div class="col-xs-12 col-md-3"></div>


    <footer>
        <div class="row">
          <div class="col-xs-12"><small>&copy; Adi Kamath 2017</small></div>
        </div>
      </footer>

  </body>


  <script>

    function formatDate(dateString){
      var date = new Date(dateString);
      var monthNames = [ "January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December" ];
      var d = date.getDate();
      var m = monthNames[date.getMonth()];
      var y = date.getFullYear();
      var output = d + ' ' + m + ' ' + y;
      return output;
    }

// Removing rows
    $("#bigTable button").each(function(idx, butt){
        butt.addEventListener("click", function(e) {
          var rows = $("#bigTable tr");
          rows.each(function(idx, row){
            if($(row).find('button').is(butt)){
                $(row).remove();
            }
          })
        }, false);
    })


    $("#delButton").click(function(e){
      console.log("Delteddd")
      $.ajax({
          url: window.location.href,
          type: 'DELETE',
          success: function(result) {
          }
      });
    });

    $("#updateButton").click(function(e){
    
      var medArr = [];
      var rows = $("#bigTable tr");
      rows.each(function(idx, row){
        var singleMed = {};
        singleMed.medName = $(row).find('input[name=medName]').val();
        singleMed.medDosage = $(row).find('input[name=medDosage]').val();
        if(singleMed.medName && singleMed.medDosage){
          medArr.push(singleMed);
        }
      })

      var postData = {};
      postData.name = $('#condName').text().trim();
      postData.medList = medArr;
      postData.severity = parseInt($('#severity').val());
      console.log("POSTDATA" + JSON.stringify(postData));
      $.ajax({
            url: window.location.href,
            type: 'PUT',
            data: JSON.stringify(postData),
            contentType: 'application/json',
            success: function(result) {
            }
        });
    });


  function urlObject(options) {
    "use strict";
    /*global window, document*/

    var url_search_arr,
        option_key,
        i,
        urlObj,
        get_param,
        key,
        val,
        url_query,
        url_get_params = {},
        a = document.createElement('a'),
        default_options = {
            'url': window.location.href,
            'unescape': true,
            'convert_num': true
        };

    if (typeof options !== "object") {
        options = default_options;
    } else {
        for (option_key in default_options) {
            if (default_options.hasOwnProperty(option_key)) {
                if (options[option_key] === undefined) {
                    options[option_key] = default_options[option_key];
                }
            }
        }
    }

    a.href = options.url;
    url_query = a.search.substring(1);
    url_search_arr = url_query.split('&');

    if (url_search_arr[0].length > 1) {
        for (i = 0; i < url_search_arr.length; i += 1) {
            get_param = url_search_arr[i].split("=");

            if (options.unescape) {
                key = decodeURI(get_param[0]);
                val = decodeURI(get_param[1]);
            } else {
                key = get_param[0];
                val = get_param[1];
            }

            if (options.convert_num) {
                if (val.match(/^\d+$/)) {
                    val = parseInt(val, 10);
                } else if (val.match(/^\d+\.\d+$/)) {
                    val = parseFloat(val);
                }
            }

            if (url_get_params[key] === undefined) {
                url_get_params[key] = val;
            } else if (typeof url_get_params[key] === "string") {
                url_get_params[key] = [url_get_params[key], val];
            } else {
                url_get_params[key].push(val);
            }

            get_param = [];
        }
    }

    urlObj = {
        protocol: a.protocol,
        hostname: a.hostname,
        host: a.host,
        port: a.port,
        hash: a.hash.substr(1),
        pathname: a.pathname,
        search: a.search,
        parameters: url_get_params
    };

    return urlObj;
}



  </script>