<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <script src="../../javascripts/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="/">MendWell</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/about/">About</a></li>
          </ul>
        </div>
      </div>
    </div>

</html>

    <div class="row page-header">
      <div class="col-lg-12"></div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <div class="col-xs-12 list-group-item">
                    <table class="table table-striped table-hover ">
                      <thead>
                        <tr>

                          <th class="text-warning" > 
                             <h4> <%= condition.name %> </h4>
                           </th>
                          <th class="text-success"><%= condition.severity %></th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <% condition.medList.forEach(function(eachMed) { %>
                          <tr>
                            <td><%= eachMed.medName %></td>
                            <td><%= eachMed.medDosage %></td>
                          </tr>
                        <% }); %>

                      </tbody>
                    </table>        

                    <div>
                      <h4> Created On: <%= condition.createdOn %></h4>
                      <h4> Last Updated: <%= condition.updatedLast %></h4>                   
                   </div>
              </div>
          </div>
         
        </div>
        
      </div>
    </div>
    <div class="col-xs-12 col-md-3"></div>



    <!-- <div class="container"> -->
      <footer>
        <div class="row">
          <div class="col-xs-12"><small>&copy; Adi Kamath 2017</small></div>
        </div>
      </footer>
    <!-- </div> -->


  </body>


  <script>
    function formatDate(dateString){
      var date = new Date(dateString);
      var monthNames = [ "January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December" ];
      var d = date.getDate();
      var m = monthNames[date.getMonth()];
      var y = date.getFullYear();
      var output = d + ' ' + m + ' ' + y;
      return output;
    }

  </script>