<!DOCTYPE html>
<html ng-app='mendwellApp'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src='/angular/angular.min.js'> </script>
    <script src='/angular/mendwellApp.js'> </script>
    <script src="../../javascripts/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>



<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="/">MendWell</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/about/">About</a></li>
          </ul>
        </div>
      </div>
    </div>

</html>

    <div class="row page-header">
      <div class="col-lg-12"></div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <div class="col-xs-12 list-group-item">
                  <div class="w3-container">
                    <p>
                        <button id="delButton" class="btn btn-danger">Remove</i></button>
                    </p>

                  </div>
                    <table id="bigTable" class="table table-striped table-hover ">
                      <thead>
                        <tr>

                          <th class="text-warning" > 
                              <%= condition.name %> 
                           </th>
                          <th class="text-warning"> Dosage </th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <% condition.medList.forEach(function(eachMed) { %>
                          <tr>
                            <td>        
                              <input type="text" class="form-control" value=<%= eachMed.medName %>></td>
                            <td> <input type="text" class="form-control" value=<%= eachMed.medDosage %>></td>
                            <td>                         
                              <!-- add event listener -->
                              <button class="btn btn-danger" onclick="removeRow(this)"><i class="fa fa-close"></i></button>
                            </td>
                          </tr>
                        <% }); %>

                      </tbody>
                    </table>        

                    <div>
                      <!-- save this properly in the model because it's not the right time, it's updating along with me -->
                      <h5   style="font-weight:bold" class="text-info"> Severity: <%=  condition.severity %> </h5>
                      <h5  class="text-info"> Created On: <%= condition.createdOn %></h5>
                      <h5  class="text-info"> Last Updated: <%= condition.updatedLast %></h5>          
                     <button class="btn btn-info" id="updateCond">Update</button>        
                   </div>

              </div>
          </div>
         
        </div>
        
      </div>
    </div>
    <div class="col-xs-12 col-md-3"></div>


    <footer>
        <div class="row">
          <div class="col-xs-12"><small>&copy; Adi Kamath 2017</small></div>
        </div>
      </footer>

  </body>


  <script>

    function removeRow(this){
      var table = document.getElementById("bigTable");
      table.deleteRow(this.index);
    }


    function formatDate(dateString){
      var date = new Date(dateString);
      var monthNames = [ "January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December" ];
      var d = date.getDate();
      var m = monthNames[date.getMonth()];
      var y = date.getFullYear();
      var output = d + ' ' + m + ' ' + y;
      return output;
    }

    $("#delButton").click(function(e){
      $.ajax({
          url: window.location.href,
          type: 'DELETE',
          success: function(result) {
          }
      });
    })

    $("#updateButton").click(function(e){
      $.ajax({
          url: window.location.href,
          type: 'DELETE',
          success: function(result) {
          }
      });
    })

  </script>